
rottenpotatoes/db/schema.rb
/lib/tasks/

rottenpotatoes/vendor/bundle


# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
log
.byebug_history
