<!--  This file is app/views/users/index.html.erb -->
<h2>Hello Mate!</h2>
<p> Welcome to the Mate website </p>
<%#  Part 2: Start here... %>

<!--<table class="table table-striped col-md-12" id="users">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Movie Title</th>-->
<!--      <th>Rating</th>-->
<!--      <th>Release Date</th>-->
<!--      <th>More Info</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
    <%# @users.each do |movie| %>
<!--      <tr>-->
<!--        <td>-->
          <%#= movie.title %>
<!--        </td>-->
<!--        <td> -->
          <%#= movie.rating %>
<!--        </td>-->
<!--        <td>-->
          <%#= movie.release_date %>
<!--        </td>-->
<!--        <td>-->
          <%#= link_to "More about #{movie.title}", movie_path(movie) %>
<!--        </td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<%= link_to 'Please Sign Up/Sign In', signup_path, :class => 'btn btn-primary' %>
