
<!--  This file is app/views/users/index.html.erb -->
<br>
<div class="container text-center">
  <h2>Hello Mate!</h2>
  <p> Welcome to the Mate website </p>

  <% if @uni.nil? %>
    <p> Please log in to find mates of your classes!</p>
    <%= link_to 'Sign Up', signup_path, :class => 'btn btn-outline-primary' %>
    <%= link_to 'Sign In', signin_path, :class => 'btn btn-outline-primary' %>
  <% end %>

</div>
